
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

$font-heading: 'Poppins', sans-serif;
$font-body: 'Roboto', sans-serif;

$color-bg: #f9fafb;
$color-primary: #2563EB;
$color-secondary: #9333EA;
$color-accent: #FACC15;
$color-text: #111827;
$color-text-light: #6B7280;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
body {
  font-family: $font-body;
  background: $color-bg;
  color: $color-text;
}

h1, h2, h3, h4, h5 {
  font-family: $font-heading;
}
